.footer {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #474B4F;
  border-radius: 0 0 30px 30px;
}

.logo {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  font-size: 15px;
  color: rgb(26, 25, 24);
}

span {
  font-size: 20px;
  color:rgb(4, 187, 56);
}